version: "3.9"
services:
  db:
    image: postgres:16
    container_name: kanban-db
    environment:
      POSTGRES_DB: kanban
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app_pw
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kanban-api
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__Default: Host=db;Database=kanban;Username=app;Password=app_pw
      Database__Provider: postgres
      Jwt__Issuer: https://example.com
      Jwt__Audience: https://example.com
      Jwt__Key: CLAVE_SUPER_SECRETA_LARGA
    ports:
      - "8080:8080"
    depends_on:
      - db
volumes:
  db_data:
